*[class*="btn"] {
  border-radius: $smallBorderRadius;
  font-size: 16px;
  font-weight: $bold;
  line-height: 18px;
  text-decoration: none;
  padding: 14px $small;
  display: inline-block;
  transition: transform .5s ease;

  &[class*="smallest"] {
    font-size: 10px;
    font-weight: $bold;
    border-radius: $smallBorderRadius;
    text-decoration: none;
    display: inline-block;
    transition: transform .5s ease;
    padding: 5px $micro 3px $micro;
    line-height: $micro;
  }
}

a,
button {
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
  font-weight: $regular;
  text-decoration: none;

  &:visited,
  &:active,
  &:focus {
    color: inherit;
  }
}

.btn-primary {
  background: $purple;
  background-image: linear-gradient(0deg, rgba(255,255,255,0.00) 0%, rgba(255,255,255,0.18) 100%);
  border: none;
  border-radius: $smallBorderRadius;
  box-shadow: 0 2px 4px 0 rgba(46,14,75,0.10);
  color: white;

  &:visited,
  &:active,
  &:focus {
    border: none;
    color: white;
  }
}
.btn-tertiary {
  background: none;
  border: none;
  outline: none;
  font-size: $tiny;
  font-weight: $bold;
  text-transform: uppercase;
  padding: $micro;
  transition: color .2s ease;


  &:hover {
    color: $grey;
  }
}

.btn-code {
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%, rgba(255,255,255,0.06) 100%);
  border: 1px solid rgba(255,255,255,0.2);
  box-sizing: border-box;
  color: white;
  padding: 14px $tiny;
  white-space: nowrap;
}

.btn-urgent {
  background: $grey;
  border-radius: $smallBorderRadius;
  font-weight: $bold;
  text-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.btn-primary,
.btn-secondary,
.btn-urgent {
  background-size: 1px 200%;
  color: white;
  transition: background .2s ease;

  &:hover {
    background-position: 100%;
  }
}

.btn-tour {
  background: $lightestGrey;
  background-image: linear-gradient(#dadada 0%, $lightestGrey 100%);
  border-radius: $smallBorderRadius;
  border: none;
  color: $lightGrey;
  text-shadow: none;
  display: block;
  width: 100%;
  text-align: left;

  span {
    float: right;
  }

  &.active {
    background: $grey;
    background-image: linear-gradient(#62626C 0%, #383845 100%);
    color: white;
  }
}

.subtext {
  font-size: 14px;
  color: $lighterGrey;
  margin: 6px 0 -9px 0;
}

.text-link,
.text-link:visited,
.text-link:active,
.text-link:focus {
  font-weight: $bold;
  color: $purple;
}

.dark:not(.light) {
  .btn-primary {
    color: $lightGrey;
    font-weight: $black;
    background: linear-gradient(135deg, $blue 0%, $purple 100%);
    transition: background .2s linear, color .2s linear;

    &:visited,
    &:active,
    &:focus {
      color: $lightGrey;
    }
  }
}


@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation: pulse .5s both;
}
