@font-face {
  font-family: 'avenir';
  src: url('/fonts/avenir/avenir-heavy.eot'); /* IE9 Compat Modes */
  src: url('/fonts/avenir/avenir-heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/avenir/avenir-heavy.svg#a1eb5a5cfcec2ff7c30fe732daf3b2e8') format('svg'), /* Legacy iOS */
       url('/fonts/avenir/avenir-heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/avenir/avenir-heavy.woff') format('woff'); /* Modern Browsers */
}
