#footer {
  background: $lightestGrey url(/img/footer-bg.jpg) no-repeat top center;
  background-size: contain;
  padding: $xxl $small $large $small;
  position: relative;
  z-index: 3;

  @media screen and (min-width: $mobile) {
    padding: $large $small;
  }

  @media screen and (min-width: $tablet) {
    background-position: bottom center;
    background-size: cover;
    padding: $large 14px;
  }

  @media screen and (min-width: $desktop) {
    background-position: center -10vw;
    padding: $large 0;
  }

  .blurb {
    @media screen and (min-width: $tablet) {
      flex-column: 8;
    }

    p {
      display: block;
      margin-top: $small;

      @media screen and (min-width: $tablet) {
        max-width: 450px;
      }
    }
  }


  .sitemap {
    margin-top: 51px;

    @media screen and (min-width: $tablet) {
      flex-column: 4;
      margin-top: 91px;
    }

    .sitemap-link,
    .sitemap-link:visited,
    .sitemap-link:active,
    .sitemap-link:focus {
      font-weight: $bold;
      color: $grey;
    }

    .sitemap-link {
      display: inline-block;
      width: calc((100% - 20px) / 2);
    }
  }
}
