#header {
  background: white;
  background: rgba(255,255,255,0.98);
  box-shadow: 0 0 $tiny rgba(0,0,0,0.1);
  box-sizing: border-box;
  left: 0;
  padding: $micro $small;
  position: fixed;
  top: 0;
  transition: background .2s linear, padding .2s linear;
  width: 100%;
  z-index: 10000;

  + * {
    padding-top: 105px;
  }

  nav {
    text-align: right;
  }

  &.dark:not(.light) {
    background: transparent;

    .logo-dark {
      opacity: 1;
    }

    .logo-light {
      opacity: 0;
    }

    .nav-link {
      color: white;
    }
  }

  &:not(.light) {
    box-shadow: none;
    padding: $small;
  }

  .logo {
    color: transparent;
    font-size: 0;
    float: left;
    height: 57px;
    max-width: calc(100% - 136px);
    overflow: hidden;
    position: relative;
    width: 100px;
    vertical-align: middle;

    @media screen and (min-width: 380px) {
      width: 164px;
    }
  }

  .logo-dark,
  .logo-light {
    height: 57px;
    left: 0;
    position: absolute;
    top: 0;
    transition: opacity .2s linear;
    width: 100px;

    @media screen and (min-width: 380px) {
      width: 164px;
    }
  }

  .logo-dark {
    opacity: 0;
  }

  .logo-light {
    opacity: 1;
  }

  .nav-link {
    align-items: center;
    color: $grey;
    display: none;
    font-weight: $semibold;
    height: 57px;
    margin-right: $small;
    transition: color .2s linear;

    @media screen and (min-width: $tablet) {
      display: inline-flex;
    }
  }

  .btn-primary {
    margin-top: 5px;

    @media screen and (min-width: $tablet) {
      margin-top: 0;
    }
  }
}
