.contact {
  background: $lightGrey;

  #header {
    display: none;

    @media screen and (min-width: $mobile) {
      display: initial;
    }

    .nav-link.team {
      margin-right: 0;
    }

    .get-in-touch {
      display: none;
    }
  }

  .hero {
    background: url(/img/hero-bg.jpg) no-repeat bottom center;
    background-size: cover;
    padding-bottom: $xl;
    position: relative;
    z-index: 3;

    @media screen and (max-width: $mobileMax) {
      padding-top: 0 !important;
    }


    .container {
      &:first-child {
        padding: $large $small;

        @media screen and (min-width: $tablet) {
          padding: $large 0;
        }
      }

      &:last-child {
        padding: 0 34px;

        @media screen and (min-width: $tablet) {
          padding: 0 $small;
        }
      }
    }

    h1 {
      color: white;
      text-align: center;
      width: 100%;

      @media screen and (min-width: $tablet) {
        font-size: $medium;
        line-height: 48px;
      }
    }

    *[class*="-fields"] {
      width: 100%;
    }

    .small-fields {
      @media screen and (min-width: $tablet) {
        flex-column: 4;
      }
    }

    .large-fields {
      @media screen and (min-width: $tablet) {
        flex-column: 8;
      }
    }

    input,
    textarea,
    input::placeholder,
    textarea::placeholder {
      color: white;
    }

    input,
    textarea {
      background: rgba(255,255,255,0.06);
      border: 1px solid $lighterGrey;
      border-radius: $smallBorderRadius;
      box-sizing: border-box;
    }

    input,
    textarea,
    .btn-primary {
      padding: 14px $tiny;
      width: 100%;
      text-align: left;
      margin-bottom: $tiny;
    }

    textarea {
      min-height: 176px;
    }

    .btn-primary {
      margin-top: -3px;

      &:after {
        content: '→';
        float: right;
      }
    }
  }

  #footer {
    padding-top: $micro;

    @media screen and (min-width: $desktop) {
      background-position: center -10vw;
    }
  }
}
