.landing {

  .hero {
    background-color: $lightGrey;
    background: $lightGrey url(/img/hero-bg.jpg) no-repeat bottom center;
    $doubleDensity {
      background: $lightGrey url(/img/hero-bg@2x.jpg) no-repeat bottom center;
    }
    $tripleDensity {
      background: $lightGrey url(/img/hero-bg@3x.jpg) no-repeat bottom center;
    }
    background-size: contain;
    padding: 0 $small;
    position: relative;
    min-height: 732px;
    z-index: 3;

    @media screen and (min-width: $tablet) {
      background-size: cover;
    }

    @media screen and (min-width: $desktop) {
      padding: 0;
    }

    .container {
      padding-top: $medium;
      padding-bottom: $large;
      position: relative;

      @media screen and (min-width: $tablet) {
        padding-top: $xl;
        padding-bottom: $xxl;
      }
    }

    .hero-copy {
      max-width: 100%;
      text-align: center;

      h1,
      h2 {
        color: white;
      }

      h1 {
        @media screen and (min-width: $tablet) {
          font-size: $large;
          line-height: calc($medium * 2);
        }

        .tooltip {
          cursor: pointer;
          font-style: normal;
          position: relative;

          @media screen and (min-width: $tablet) {
            background: url(/img/info-circle.svg) no-repeat top right;
            padding-right: $tiny;
          }
        }
      }

      h2 {
        padding-top: $medium;

        @media screen and (min-width: $tablet) {
          padding-top: $large;
        }
      }

      #mc_embed_signup input.email {
        padding: 22px $tiny 21px $small;
      }

      .mc-form {
        padding-top: 35px;
        clear:left;
        font:14px Helvetica,Arial,sans-serif;
        width:100%;

        .btn-primary {
          position: relative;
          border-radius: 4px 4px 4px 4px;
          top: 0;
          margin-left: 4px;
        }
      }
    }
  }
}
