.landing {
  background: $lightGrey;

  .hero {
    background: url(/img/hero-bg.jpg) no-repeat bottom center;
    background-size: cover;
    padding: 0 $small;
    position: relative;
    min-height: 732px;
    z-index: 3;

    @media screen and (min-width: $desktop) {
      padding: 0;
    }

    .container {
      padding-top: $medium;
      padding-bottom: 134px;

      @media screen and (min-width: $tablet) {
        padding-top: $xl;
        padding-bottom: $xxl;
      }
    }

    .hero-copy {
      max-width: 100%;

      @media screen and (min-width: $tablet) {
        flex-column: 7;
      }

      h1,
      h2 {
        color: white;
      }

      h1 {
        @media screen and (min-width: $tablet) {
          font-size: $medium;
          line-height: calc($small * 2);
        }

        .tooltip {
          cursor: pointer;
          font-style: normal;
          position: relative;

          @media screen and (min-width: $tablet) {
            background: url(/img/info-circle.svg) no-repeat top right;
            padding-right: $tiny;

            &:after {
              background: $blue;
              bottom: 3px;
              content: '';
              height: 2px;
              position: absolute;
              left: 0;
              width: calc(100% - $tiny);
            }
          }
        }
      }

      h2 {
        padding-top: $medium;
        max-width: 500px;

        @media screen and (min-width: $tablet) {
          padding-top: $large;
        }
      }

      .btn-code {
        display: block;
        margin-top: $medium;
        overflow: scroll;

        @media screen and (min-width: $tablet) {
          display: inline-flex;
          margin-right: -10px;
          margin-top: 73px;
          padding: 14px $large 12px $tiny;
        }
      }

      .btn-copy {
        display: none;
        position: relative;
        z-index: 2;

        @media screen and (min-width: $tablet) {
          display: initial;
        }
      }

      .subtext {
        font-style: italic;
        text-align: right;

        @media screen and (min-width: $tablet) {
          max-width: 462px;
        }

        a {
          color: $blue;
          font-weight: $bold;
        }
      }
    }

    .top-code {
      @media screen and (min-width: $tablet) {
        display: none !important;
      }
    }

    .animated-code,
    .top-code {
      margin-top: $medium;
      transition: height .2s linear;
      max-width: 100%;
      overflow: scroll;

      @media screen and (min-width: $tablet) {
        margin-top: 2px;
        flex-column: 5;
      }

      pre {
        font-size: $tiny;
        background: none;
        padding: 0;
        margin: 0 0 $tiny -10px;
        transition: height .2s linear;

        @media screen and (min-width: $tablet) {
          font-size: 12px;
          margin-left: 0;
        }
      }
    }
  }

  .what-is-kelda {
    background: white;
    overflow: hidden;
    padding: $medium $small;

    @media screen and (min-width: $tablet) {
      padding: $xl $small;

      .row {
        display: flex;
        flex-direction: row-reverse;
      }
    }

    @media screen and (min-width: $desktop) {
      padding: $xl 0;
    }


    .diagram {
      background: url(/img/diagram-bg.png) no-repeat 50px 68px;
      background-size: calc(100% - $small * 2) auto;
      padding-top: $medium;
      position: relative;

      @media screen and (min-width: $mobile) {
        background-position: center $large;
        background-size: 363px 797px;
        text-align: center;
        width: 100%;
      }

      @media screen and (min-width: $tablet) {
        background-position: $medium $small;
        flex-column: 6;
        padding: 0;
        text-align: left;
        width: initial;
      }

      img {
        padding-left: $medium;
        position: relative;
        height: auto;
        width: calc(100% - $small * 2);
        z-index: 3;

        @media screen and (min-width: $mobile) {
          max-width: 363px;
          padding-left: 0;
          margin-left: -$tiny;
        }

        @media screen and (min-width: $tablet) {
          padding-left: $medium;
        }
      }

      .gradient {
        background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%);
        bottom: 0;
        display: none;
        height: 60vh;
        margin-left: 44px;
        position: fixed;
        width: 100%;
        z-index: 2;

        @media screen and (min-width: $tablet) {
          margin-left: 20px;
        }
      }

      .layer {
        background: $lightestGrey;
        display: flex;
        font-weight: $semibold;
        font-size: 14px;
        align-items: center;
        position: absolute;
        left: 20px;
        width: 4px;
        white-space: nowrap;

        &.apis {
          height: 40%;

          span {
            transform: rotate3d(0, 0, 1, -90deg) translate3d(0, -46px, 0);
          }
        }

        &.kelda {
          background: $orange;
          background: linear-gradient($lightOrange 0%, $pink 100%);
          height: 26%;
          top: calc(40% + 2px);

          span {
            color: $orange;
            transform: rotate3d(0, 0, 1, -90deg) translate3d(0, -31px, 0);
          }
        }

        &.cloud {
          height: 31%;
          top: calc(66% + 4px);

          span {
            transform: rotate3d(0, 0, 1, -90deg) translate3d(0, -63px, 0);
          }
        }
      }
    }

    .kelda-info {
      postion: relative;
      z-index: 3;

      @media screen and (min-width: $tablet) {
        flex-column: 6;
        padding-right: $small;
      }

      @media screen and (min-width: $desktop) {
        padding-right: 0;
      }
    }

    h2 {
      margin-top: 52px;
      margin-bottom: 44px;
      font-weight: $bold;

      @media screen and (min-width: $tablet) {
        font-weight: $regular;
      }
    }

    p {
      margin-bottom: $small;
    }
  }

  .why-kelda {
    background: white;
    padding: $large $small;
    position: relative;
    z-index: 3;

    @media screen and (min-width: $tablet) {
      padding: 0 $small $xl $small;
    }

    @media screen and (min-width: $desktop) {
      padding: 0 0 $xl 0;
    }

    h1 {
      margin-bottom: 31px;
    }

    .section-number {
      font-family: $avenir;
      font-weight: $bold;
      font-size: 54px;
      color: $lightestGrey;
      letter-spacing: -2px;
      margin-bottom: 9px;

      img {
        margin-right: $tiny;
      }
    }

    .third {
      padding: 0 0 $medium 0;

      @media screen and (min-width: $tablet) {
        &:not(:last-child) {
          padding-right: $small;
        }
      }

      strong {
        display: block;
        margin-bottom: 20px;
      }
    }
  }

  .simplify-code {
    background: white;
    padding: 0 0 $medium 0;
    position: relative;
    z-index: 3;

    @media screen and (min-width: $tablet) {
      padding: 0 $small $xl $small;
    }

    @media screen and (min-width: $desktop) {
      padding: 0 0 $xl 0;
    }

    h1,
    h2 {
      padding: 0 $small;

      @media screen and (min-width: $tablet) {
        padding: 0;
        text-align: center;
      }
    }

    h1 {
      margin: -18px 0 $small 0;

      @media screen and (min-width: $tablet) {
        margin: -18px auto 5px auto;
      }
    }

    h2 {
      margin: -5px auto 53px auto;
      max-width: 700px;
    }

    .code-comparison {
      background: #43434F;
      color: white;
      overflow: hidden;
      padding: 0;

      @media screen and (min-width: $tablet) {
        border-radius: $borderRadius;
      }

      .row {
        padding: 0 10px;
      }

      pre {
        background: none;
        margin: 0;
        padding: $tiny $tiny $tiny $medium;
      }

      .line-numbers-rows {
        background: $grey;
        border: none;
        margin-top: -20px;
        margin-bottom: -20px;
        margin-left: 14px;
        padding-top: $tiny;
        padding-bottom: $tiny;
      }
    }

    .label {
      align-items: center;
      background: $grey;
      display: flex;
      padding: $tiny;
      margin-bottom: -1px;

      img {
        float: left;
        margin-right: $tiny;
        height: 66px;
        width: 66px;
      }
    }

    .half {
      padding: 0;
    }

    .left {
      border-bottom: $tiny solid white;

      @media screen and (min-width: $mobile) {
        border-bottom: none;
        border-right: 1px solid white;
      }

      .toolbar {
        display: none;
      }
    }

    .right {
      height: 238px;
      overflow: hidden;

      @media screen and (min-width: $mobile) {
        height: auto;
        overflow: visible;
      }
    }
  }

  .tour {
    background: white;
    padding: $medium $small;
    position: relative;
    z-index: 3;

    @media screen and (min-width: $desktop) {
      padding: $medium 0;
    }

    h1 {
      margin-bottom: $small;

      @media screen and (min-width: $tablet) {
        margin-bottom: $medium;
      }
    }

    h2 {
      margin-bottom: 53px;
      max-width: 700px;
    }

    .row {
      align-items: flex-start;
    }

    .steps {
      padding-left: 0 !important;
      padding-right: 0 !important;

      @media screen and (min-width: $tablet) {
        flex-column: 9;
      }
    }

    .step {
      background: white;
      border-radius: $borderRadius;
      border: 1px solid rgba(0,0,0,0.04);
      box-shadow: 0 6px 16px 0 rgba(0,0,0,0);
      margin-bottom: $small;
      overflow: hidden;
      transition: box-shadow 1s ease;
      width: calc(100vw - $small * 2);

      @media screen and (min-width: $tablet) {
        margin-bottom: 0;
        width: initial;
      }
    }

    .active.step {
      box-shadow: 0 6px 16px 0 rgba(0,0,0,0.07);
    }

    .code {
      padding: 0;

      pre {
        border-radius: 0;
        background: none;
        margin: 0;
        padding: $tiny $tiny $tiny $medium;
      }

      .line-numbers-rows {
        background: $lightPurple;
        border: none;
        color: $purple;
        margin-top: -20px;
        margin-bottom: -20px;
        margin-left: 14px;
        padding-top: $tiny;
        padding-bottom: $tiny;
      }
    }

    .action-bar {
      align-items: center;
      background: $grey;
      color: white;
      display: flex;
      justify-content: space-between;

      p {
        display: inline-block;
        padding: $tiny;

        @media screen and (min-width: $tablet) {
          padding: 0 0 0 $tiny;
        }
      }

      .next {
        border-radius: 0;
        display: none;
        float: right;

        @media screen and (min-width: $tablet) {
          display: initial;
        }
      }
    }

    nav {
      display: none;
      padding-left: 20px !important;

      @media screen and (min-width: $tablet) {
        display: initial;
        flex-column: 3;
      }

      .btn-tour {
        margin-bottom: $micro;
      }

      hr {
        border: none;
        border-top: 1px solid $lightestGrey;
        margin-top: $small;
      }

      .text-link {
        display: block;
        padding: 14px $small;
      }
    }
  }

  .bottom-cta {
    background: white;
    padding: $medium $small $small $small;
    position: relative;
    z-index: 3;

    @media screen and (min-width: $tablet) {
      padding: 0 14px $medium 14px;
    }

    @media screen and (min-width: $desktop) {
      padding: 0 0 $large 0;
    }

    h1 {
      margin-bottom: $small;

      @media screen and (min-width: $tablet) {
        margin-bottom: $medium;
      }
    }

    h2 {
      max-width: 600px;
    }

    .copy {
      @media screen and (min-width: $tablet) {
        flex-column: 8;
      }
    }

    .actions {
      font-weight: $bold;
      margin-left: -$tiny;
      padding-top: $medium;
      width: calc(100% + $tiny);

      @media screen and (min-width: $tablet) {
        flex-column: 4;
        padding-top: 2px;
        width: initial;
      }

      .btn-icon,
      .btn-icon:visited,
      .btn-icon:active,
      .btn-icon:focus {
        color: $grey;
      }


      .btn-icon {
        align-items: center;
        display: flex;
        margin: 0;
        padding: 0;
        width: calc(100% + $tiny);

        &:hover img {
          transform: translate3d(-4px,0,0);
        }

        img {
          margin-bottom: -12px;
          transition: transform .2s ease;
          height: 96px;
          width: 96px;
        }

        &.email-drip {
          cursor: pointer;
          overflow: hidden;
          position: relative;

          &.focused {
            img {
              transform: translate3d(-4px,0,0);
            }

            .mc-form {
              transform: translate3d(0,0,0);
            }
          }

          .cover {
            background: url('/img/white-pixel.jpg') no-repeat 0 10px;
            background-size: 65px;
            position: relative;
            z-index: 2;
          }

          .mc-form {
            position: absolute;
            top: 10px;
            left: 68px;
            width: 100%;
            box-sizing: border-box;
            transform: translate3d(calc(-100% + 70px),0,0);
            transition: transform .2s ease;

            input:not(.btn-primary) {
              -webkit-appearance: none;
              padding: 22px $tiny 21px $small;
              border: 1px solid $lightestGrey;
              border-right: none;
              border-radius: 0;
              outline: none;
              box-shadow: none;
              box-sizing: border-box;
              width: calc(100% - 115px);
            }

            .btn-primary {
              padding: $small $tiny 22px $tiny;
              position: relative;
              top: 0;
              margin-left: -8px;
              border-radius: 0 $smallBorderRadius $smallBorderRadius 0;
            }
          }
        }
      }
    }
  }
}
