.landing {
  background: $lightGrey;

  .hero {
    background: url(/img/hero-bg.jpg) no-repeat bottom center;
    background-size: cover;

    .container {
      padding-top: $xl;
      padding-bottom: $xxl;
    }
  }

  .hero-copy {
    flex-column: 7;

    h1,
    h2 {
      color: white;
    }

    h1 .tooltip {
      background: url(/img/info-circle.svg) no-repeat top right;
      font-style: normal;
      position: relative;
      padding-right: $tiny;
      cursor: pointer;

      &:after {
        content: '';
        position: absolute;
        bottom: 6px;
        left: 0;
        width: calc(100% - $tiny);
        height: 2px;
        background: $blue;
      }
    }

    h2 {
      padding-top: $large;
      max-width: 500px;
    }

    code {
      margin-top: 49px;
      margin-right: -10px;
      padding-right: $large;
    }

    .subtext {
      text-align: right;
      font-style: italic;
      max-width: 462px;

      a {
        color: $blue;
        font-weight: $bold;
      }
    }
  }

  .top-code {
    display: none;
  }

  .animated-code {
    flex-column: 5;
    margin-top: 2px;
    transition: height .2s linear;

    pre {
      background: none;
      padding: 0;
      margin: 0 0 $small 0;
      transition: height .2s linear;
    }
  }
}
