.single {
  min-height: calc(100vh - 382px);

  .container {
    padding: 80px 0 $large 0;
  }

  .hero-copy {
    text-align: center;
    width: 100%;

    h1 {
      margin-bottom: $micro;
    }
  }
}
