.team {
  .hero {

    @media screen and (min-width: $tablet) {
      background: url(/img/team-bg.jpg) no-repeat right center;
      $doubleDensity {
        background: url(/img/team-bg@2x.jpg) no-repeat right center;
      }
      $tripleDensity {
        background: url(/img/team-bg@3x.jpg) no-repeat right center;
      }
      background-size: 50%;
    }

    @media screen and (min-width: $desktop) {
      background-position: right bottom;
    }

    .container {
      padding: $large 34px $large 34px;

      @media screen and (min-width: $tablet) {
        padding: 80px $small $large $small;
      }

      @media screen and (min-width: $desktop) {
        padding: 80px 0 $large 0;
      }
    }

    .hero-copy {
      @media screen and (min-width: $tablet) {
        flex-column: 7;
      }

      h1 {
        margin-bottom: 31px;
      }
    }
  }

  .employees-list {
    padding: 0 $small $large $small;

    @media screen and (min-width: $tablet) {
      padding: 0 14px $large 14px;
    }

    @media screen and (min-width: $desktop) {
      padding: 0 0 $large 0;
    }

    .employee {
      color: $grey;
      font-weight: $regular;
      margin-bottom: 20px;
      width: 100%;

      @media screen and (min-width: $tablet) {
        flex-column: 4;
      }

      &:last-child .text-link {
        display: inline;
      }
    }

    .employee-info {
      display: flex;
      align-items: center;

      img {
        float: left;
        margin-bottom: -12px;
        margin-left: -14px;
        height: 96px;
        width: 96px;
      }

      strong {
        display: block;

        em {
          font-weight: $regular;
          font-style: normal;
        }
      }

      .text-link {
        color: $blue;
        display: block;
        font-weight: $regular;
      }
    }
  }

  .advisors-list {
    padding: 0 $small;

    @media screen and (min-width: $tablet) {
      padding: 0 14px $medium 14px;
    }

    @media screen and (min-width: $desktop) {
      padding: 0 0 $xl 0;
    }

    h2 {
      font-weight: $bold;
      margin-bottom: $small;

      @media screen and (min-width: $tablet) {
        flex-column: 12;
      }
    }

    .advisor {
      margin-bottom: $tiny;

      @media screen and (min-width: $tablet) {
        flex-column: 4;
      }

      strong {
        display: block;
        margin-bottom: -6px;
      }
    }

    .advisor,
    p {
      display: block;
      font-size: 14px;
      line-height: $small;
      width: 100%;
    }
  }
}
