{{ partial "header" .Site.Data.global }}

<section class="hero dark">
  <div class="container">
    <div class="row">
      <div class="hero-copy">
        <h1>{{ .Site.Data.landing.hero.headline | markdownify }}</h1>
        <h2>{{ .Site.Data.landing.hero.subhead | markdownify }}</h2>
        <div class="npm-copy">
          <code id="npm-code" class="btn-code" value="{{ .Site.Data.landing.hero.npmcode }}">{{ .Site.Data.landing.hero.npmcode }}</code>
          <button class="btn-primary btn-copy" data-clipboard-target="#npm-code"><i class="copy"></i>Copy</button>
          <p class="subtext">{{ .Site.Data.landing.hero.btnsubtext | markdownify }}</p>
        </div>
      </div>
    <div class="top-code" id="top-code">
      <div class="raw-code" id="raw-code">{{ .Site.Data.landing.hero.examplecode | markdownify }}</div>
    </div>
    <div class="animated-code" id="animated-code"></div>
  </div>
</section>

<section class="what-is-kelda">
  <div class="container">
    <div class="row" data-sticky-container>
      <div class="diagram">
        <div class="layer apis"><span>Apps/APIs</span></div>
        <div class="layer kelda"><span>Kelda</span></div>
        <div class="layer cloud"><span>Deploy to Cloud</span></div>
        <div class="gradient"></div>
        <img src="/img/diagram.png"/>
      </div>
      <div class="kelda-info">
        <div class="sticky" data-margin-top="180px">
          <h1>{{ .Site.Data.landing.whatiskelda.headline | markdownify }}</h1>
          <h2>{{ .Site.Data.landing.whatiskelda.subhead | markdownify }}</h2>
          {{ .Site.Data.landing.whatiskelda.copy | markdownify }}
        </div>
      </div>
    </div>
  </div>
</section>

<section class="why-kelda">
  <div class="container">
    <div class="row">
      <h1>{{ .Site.Data.landing.whykelda.headline | markdownify }}</h1>
    </div>
    <div class="row">
      {{ range .Site.Data.landing.whykelda.triptych }}
        <article class="third">
          <div class="section-number">
            <img src="/img/why-kelda-{{ .numberid }}.svg"/>{{ .numberid }}
          </div>
          <strong>{{ .headline | markdownify }}</strong>
          <p>{{ .copy | markdownify }}</p>
        </article>
      {{ end }}
    </div>
  </div>
</section>

<section class="simplify-code">
  <div class="container">
    <div class="row">
      <h1>{{ .Site.Data.landing.simplifycode.headline | markdownify }}</h1>
      <h2>{{ .Site.Data.landing.simplifycode.subhead | markdownify }}</h2>
    </div>
  </div>
  <div class="container code-comparison">
    <div class="row">
      <div class="left half">
        <div class="label clearfix">
          <img src="{{ .Site.Data.landing.simplifycode.code.before.imagepath }}"/>
          <p>
            <strong>{{ .Site.Data.landing.simplifycode.code.before.label }}</strong>
            <em>{{ .Site.Data.landing.simplifycode.code.before.filename }}</em>
          </p>
        </div>
        {{ .Site.Data.landing.simplifycode.code.before.snippet | markdownify }}
      </div>
      <div class="right half">
        <div class="label clearfix">
          <img src="{{ .Site.Data.landing.simplifycode.code.withkelda.imagepath }}"/>
          <p>
            <strong>{{ .Site.Data.landing.simplifycode.code.withkelda.label }}</strong>
            <em>{{ .Site.Data.landing.simplifycode.code.withkelda.filename }}</em>
          </p>
        </div>
        {{ .Site.Data.landing.simplifycode.code.withkelda.snippet | markdownify }}
      </div>
    </div>
  </div>
</section>

<section class="tour">
  <div class="container">
    <div class="row">
      <h1>{{ .Site.Data.landing.tour.headline | markdownify }}</h1>
      <h2>{{ .Site.Data.landing.tour.subhead | markdownify }}</h2>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="steps slider">
        {{ range .Site.Data.landing.tour.steps }}
          <div class="step">
            <div class="code light-code">{{ .code | markdownify }}</div>
            <div class="action-bar">
              <p>{{ .headline }}</p>
              <button class="btn-primary next">Next</button>
            </div>
          </div>
        {{ end }}
      </div>
      <nav>
        {{ range .Site.Data.landing.tour.steps }}
          <button class="btn-tour">{{ .title }}<span>{{ .numberid }}</span></button>
        {{ end }}
        <hr/>
        <a href="{{ .Site.Data.landing.tour.cta.linksto }}" class="text-link">{{ .Site.Data.landing.tour.cta.copy }}</a>
      </nav>
    </div>
  </div>
</section>

{{ partial "footer" .Site.Data.global }}
