{{ partial "header" . }}

<section class="hero dark">
  <div class="container">
    <div class="row">
      <div class="hero-copy">
        <h1>{{ .Site.Data.landing.hero.headline | markdownify }}</h1>
        <h2>{{ .Site.Data.landing.hero.subhead | markdownify }}</h2>
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <div id="mc_embed_signup" class="mc-form">
        <form action="https://kelda.us17.list-manage.com/subscribe/post?u=29b1481e487451c98a20d0db3&amp;id=c1b3b8d896" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

        	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_29b1481e487451c98a20d0db3_c1b3b8d896" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn-primary"></div>
            </div>
        </form>
        </div>
      </div>
  </div>
</section>

{{ partial "footer" .Site.Data.global.footer }}
